/* Admonition.css */
.admonition {
  padding: 1rem 1rem;
  border-style: solid;
  border-radius: 0.4rem;
  border-width: 0px;
  border-left-width: 5px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
  margin-bottom: 1rem;
}

.admonition.info {
  color: #193c47;
  background-color: #eef9fd;
  border-color: #4cb3d4;
}

.admonition.note {
  color: #474748;
  background-color: #ebedf026;
  border-color: #d4d5d8;
}

.admonition.tip {
  color: #003100;
  background-color: #e6f6e6;
  border-color: #009400;
}

.admonition.caution {
  color: #4d3800;
  background-color: #fff8e6;
  border-color: #e6a700;
}

.admonition.danger {
  color: #4b1113;
  background-color: #ffebec;
  border-color: #e13238;
}

.admonition-title {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.25;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 6px;
}

.admonition-icon {
  display: inline-block;
  margin-right: 0.4em;
  vertical-align: middle;
}

.admonition-svg {
  display: inline-block;
  height: 1.6em;
  width: 1.6em;
}

.admonition-svg.info {
  fill: #193c47;
}

.admonition-svg.note {
  fill: #474748;
}

.admonition-svg.tip {
  fill: #003100;
}

.admonition-svg.caution {
  fill: #4d3800;
}

.admonition-svg.danger {
  fill: #4b1113;
}

.admonition.info a {
  color: #4cb3d4;
}

.admonition.note a {
  color: #898989;
}

.admonition.tip a {
  color: #009400;
}

.admonition.caution a {
  color: #e6a700;
}

.admonition.danger a {
  color: #e13238;
}

.admonition.info code {
  background-color: #54c7ec26;
}

.admonition.note code {
  background-color: #ebedf026;
}

.admonition.tip code {
  background-color: #00a40026;
}

.admonition.caution code {
  background-color: #ffba0026;
}

.admonition.danger code {
  background-color: #fa383e26;
}
